ENV_GOOGLE_CREDENTIALS=/secrets/google-key.json
ENV_PROJECT_NAME=awesome-gate-489312-g2
ENV_BUCKET_NAME=bu_legislens_01
ENV_BIGQUERY_NAME=bq_legislens_01
KESTRA_USERNAME=admin@kestra.io
KESTRA_PASSWORD=Admin1234!
KESTRA_POSTGRES_USERNAME=kestra
KESTRA_POSTGRES_PASSWORD=k3str4
ENV_POSTGRES_USERNAME=root
ENV_POSTGRES_PASSWORD=root
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=root